/*Overall bubble*/
#b3 {
	width: 1000px;
	height: 750px;
	padding: 50px;
	border: 1px solid black;
 }

/*Number inside bubble*/
#b3 i { }
/*paragraph at top of circle*/
#b3 p {text-align: center; }

/*button*/
#b3 button { 
border-radius: 50%;
background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	float: left;

}
#b3 #panel {
position:absolute;
    margin-left: 200px;
    /* first  value controls where y axis is.
       second value controls where x axis is.*/
    transform-origin: right center 0;
    transform-style: preserve-3d;
    transition: all 2.0s linear;
}
#b3 #front {
position:absolute;
    background-color:green;
	width: 400px;
	height: 240px;
	backface-visibility: hidden;
}
	
/*Left Image*/
#b3 div .left { 

}
/*Right Image*/
#b3 div .right {

 }

/* back */
#back {
position:absolute;
    background-color:red;
    transform:rotateY(180deg);
    backface-visibility: hidden;
}

/* paragraph */
#back p { }
/* Right image */
