
body {
    background-color: aquamarine;
    height:100%;
}
div { 
   min-height:200px;
   min-width: 200px;
   border-radius:1em;
   margin:1em;
   box-sizing:border-box;
}

div#bubble1 {
    float:left;
    width:40%;
    margin:2%;
    background-color:black;
}

div#bubble1 .numbered {
    /*must invert colors for black background*/
    color:white;
    border-color:white;    
}


.numbered { 
    border-radius:50%;
    border:2px red solid;
    color:black;
    font-size:2em;
    /* use a fixed width font so border is circle*/ 
    font-family:courier;
}

div#bubble2 {
    float:right;
    margin:2%;
    width:40%;
    background-color: white;
}

div#bubble3 {
    clear:both;
    float:right;
    border-radius:50%;
    border-color:blue;
    border-style:solid;
    border-width: 5px;
    background-color:white;
}

div#bubble3 .numbered {
    font-size:5em;
    background-color:white;
}

div#bubble4 {
    width:60%;
    clear:left;
    float:left;
    background-color:white;
}

div#bottomhalf {
    clear:both;
    height:50vh;
}

div#bubble5 {
    width:60%;
    float:left;
    background-color:white;
}

div#bottomsidebar {
    float:right;
    height:100%;
    background-color:yellow;
}

div#bubble6container {
    width:60%;
    clear:left;
    float:left;  
}

div#bubble6 {
    width:70%;
    background-color: white;
    float:left;
	margin:0;
}

div#robotinsert {
    background-color: aquamarine;
    width:20%;
    margin:0;
    float:left;
}


/* End of Overview of layout. */